/* ESTILOS DE PÁGINA DE PRODUCTO */

.carousel-caption {
  background-color: #b3b0b0;
}

.carousel-item{
  height: 200px;
}

/* Línea de carrusel o slider */
.linea {
  max-width: 100%;
  height: 15px;
  background-color: #746b6b;
}

.product-card p {
  font-size: 20px;
  color: white;
}

.card {
  max-width: 400px;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 999; /* Asegura que el botón esté en la capa superior */
}

@media (max-width: 1023px) {
  .ir-arriba {
    display: block;
    font-size: 24px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  .ir-arriba:hover {
    background-color: #000; 
  }
}

/* Versión móvil */
@media screen and (max-width: 425px) {
  .product-card {
    max-width: 250px;
  }

  .product-card img {
    height: auto;
  }

  .card-body p {
    font-size: 12px;
  }

  .product-card .btn {
    font-size: 8px;
  }

  #carouselExampleCaptions {
    display: none;
  }

  #filter-container {
    text-align: center; 
    display: block; 
    border-radius: 10px;
    max-width: fit-content;
  }

}

/*carrito*/
.btn-outline-danger{
  margin-left: 10px;
  cursor: pointer;
}
